@import url('https://fonts.googleapis.com/css2?family=Emilys+Candy&family=Tangerine:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Emilys+Candy&display=swap');


:root{
--color-1:#35155D;
--color-2:#512B81;
--color-3:#4477CE;
--color-4:#8CABFF;
}


body {
color:aliceblue;  
background-color: var(--color-3);
}

hr{
    border-color:aliceblue;
    border-width: 3px;
}

h1 {
        font-family: "Emilys Candy", serif;

}

p{ font-family: "Playwrite GB J Guides", cursive;}


h2{font-family: "Emilys Candy", serif;}

.text-center {
    text-align: center;
  }
  
  .About {
    background-color: var(--color-4);
    border: 2px dashed #512B81;
    border-radius:8px;
  }

  .Home{ background-color:#8CABFF;
    border:2px dashed #512B81;
    border-radius:8px;


}
.Moi{
    
}




nav{
    background-color:aliceblue;

    text-align: right;

}

nav a{
    color:var(--color-4);
    text-decoration: none;
    padding: 16px;
    display: inline-block;

}

nav a:hover{
background-color:var(--color-2);
color:var(--color-3);
border-bottom: 2px solid var(--color-3);}

#center{
    text-align: center;
}